doctype html
html 
  head(lang="es")
    title FotoFacilito
    meta(charset="utf-8")
    link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
  body
    block Content
    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
  footer
